.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 70vh;
}

.ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: auto;
  scrollbar-width: none;
  height: 100%;
}

.li {
  list-style: none;
  height: 100%;
}
